*.v
!xs_nanhu_fpga/src/rtl/*.v
!vcs/testbench/SimMMIO/*.v
!vcs/testbench/AXI4RAM/*.v
!vcs/testbench/*.v
!requirements.txt

__pycache__

.vscode

*.txt
*.log
*.csv
*.jou
*.list
.Xil/
fpga/.Xil
test*
json/

# python third-party libraries are stored temporarily
psutil/

# rtl related
core-rtl/
# xs_nanhu_fpga/src/tcl/cpu_nanhu_files.tcl
xs_fpga_top_debug.bit
xs_fpga_top_debug.ltx
synth_log.txt
impl_log.txt

